body {
    font-family: Arial;
    background: #f2f2f2;
    padding: 15px;
}

button {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    font-size: 18px;
}

.main-btn {
    height: 80px;
    font-size: 22px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.box {
    padding: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
}

.red { background:red; }
.purple { background:purple; }
.green { background:green; }
.blue { background:blue; }
.orange { background:orange; }